/QF4CPlus/Debug
/QF4CPlus/Release
/QF4CPlus/.vs
/QFHsmTest/Debug
/QFHsmTest/Release
/test/QFHsmTest/Debug
/test/QFHsmTest/Release
/src/QF4CPlus/.vs
/src/QF4CPlus/Debug
/src/QF4CPlus/Release
/Debug
/.vs
/test/QF4CPlus_VS_QtStateMachine/Release
/test/QF4CPlus_VS_QtStateMachine/Debug
/src/QF4CPlusEquipment/Release
/src/QF4CPlusEquipment/Debug
Release/QF4CPlus.dll
Release/QF4CPlus.exp
Release/QF4CPlus.lib
Release/QFHsmTest.exe
